#snake_container {
    width: var(--snake-width);
    height: var(--snake-width);
    display: grid;
    border: solid thin grey;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(15,1fr);
}
#apple {
    background-color: red;
}
.snake{
    background-color: green;
}
.snake:nth-child(2) {
    background-color: greenyellow;
}
#lost_container {
    color: red;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.score {
    display: block;
    font-size: 20px;
    color: black;
    border: 2px solid var(--black-1);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#snake_replay {
    margin: 10px auto 10px;
    cursor: pointer;
    display: none;
    font-size: 20px;
    color: red;
    border: 2px solid var(--black-1);
    border-radius: 10px;
    padding: 10px;
}
#snake_replay:focus {
    outline: none;
    background-color: grey;
}



#navigation {
    display: grid;
    background-color: var(--bg-card);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    
    width: calc(var(--snake-width)*0.4);
    height: calc(var(--snake-width)*0.4);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      ". up ."
      "left . right"
      ". down .";
}

#navigation.error {
    background-color: var(--red);
}

.navigation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    padding:10px;
    border-radius: 5px;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}
.navigation-left {
    grid-area: left;
    background-image: url('arrows/arrow-left.svg');
    
}
  
.navigation-right {
    grid-area: right;
    background-image: url('arrows/arrow-right.svg');

}
  
.navigation-up {
    grid-area: up;
    background-image: url('arrows/arrow-up.svg');

}
  
.navigation-down {
    grid-area: down;
    background-image: url('arrows/arrow-down.svg');

}
#navigation button {
    border: none;
}
